<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upload.adeogo.dokita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OpeningAcvtivity"
            android:launchMode="singleTop"
            android:theme="@style/MyTheme2" />
        <activity
            android:name=".GetDataActivity"
            android:parentActivityName=".OpeningAcvtivity" />
        <activity
            android:name=".SignedMainActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".BodyMeasurementActivity"
            android:parentActivityName=".SignedMainActivity" />
        <activity
            android:name=".HealthRecordsActivity"
            android:parentActivityName=".SignedMainActivity" />
        <activity
            android:name=".VitalsActivity"
            android:parentActivityName=".SignedMainActivity" />
        <activity
            android:name=".ResultsActivity"
            android:parentActivityName=".SignedMainActivity" />
        <activity
            android:name=".OrderActivity"
            android:parentActivityName=".SearchActivity" />
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".OpeningAcvtivity" />
        <activity
            android:name=".QuestionActivity"
            android:parentActivityName=".OpeningAcvtivity" />
        <activity
            android:name=".WelcomeBackActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.WelcomeBack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.DokitariProvider"
            android:authorities="com.upload.adeogo.dokita"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".OpeningAcvtivity" />

        <activity android:name=".QuestionListActivity"></activity>

        <activity android:name=".LoginActivity"></activity>
    </application>

</manifest>