<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upload.adeogo.dokita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_client"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_client"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.OpeningAcvtivity"
            android:launchMode="singleTop"
            android:theme="@style/MyTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GetDataActivity"
            android:parentActivityName=".activities.OpeningAcvtivity" />
        <activity
            android:name=".activities.SignedMainActivity"
            android:parentActivityName=".activities.ProfileActivity" />
        <activity
            android:name=".activities.BodyMeasurementActivity"
            android:parentActivityName=".activities.SignedMainActivity" />
        <activity
            android:name=".activities.HealthRecordsActivity"
            android:parentActivityName=".activities.SignedMainActivity" />
        <activity
            android:name=".activities.VitalsActivity"
            android:parentActivityName=".activities.SignedMainActivity" />
        <activity
            android:name=".activities.ResultsActivity"
            android:parentActivityName=".activities.SignedMainActivity" />
        <activity
            android:name=".activities.OrderActivity"
            android:parentActivityName=".activities.SearchActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.OpeningAcvtivity" />
        <activity
            android:name=".activities.QuestionActivity"
            android:parentActivityName=".activities.OpeningAcvtivity" />
        <activity
            android:name=".activities.WelcomeBackActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.WelcomeBack" />

        <provider
            android:name=".data.DokitariProvider"
            android:authorities="com.upload.adeogo.dokita"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.ProfileActivity"
            android:parentActivityName=".activities.OpeningAcvtivity" />
        <activity android:name=".activities.QuestionListActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/MyTheme2" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.FirstActivity"
            android:theme="@style/MyTheme2" />
        <activity
            android:name=".activities.SupportActivity"
            android:parentActivityName=".activities.ProfileActivity" />
        <activity android:name=".activities.RegisterActivity"
            android:parentActivityName=".activities.LoginActivity">

        </activity>

    </application>

</manifest>